Source: pandorga-users-iniciais
Section: misc
Priority: optional
Maintainer: Pandorga GNU/Linux Development Team <dev@pandorgalinux.com.br>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/pandorga-users-iniciais.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/pandorga-users-iniciais.git

Package: pandorga-users-iniciais
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
